ion-button {
  width: 45vw;
  margin-bottom: 5vw;

  &.big {
    width: 90vw;
  }
}

.form-wrapper {
  flex: 1;
  max-height: calc(100% - 15vw - 40px);
  overflow: auto;
  margin: 5vw 5vw 3vw;
}

ion-card {
  width: 90vw;
  margin-top: 5vw;
}

ion-card-title {
  font-size: 15px;
}

.divider {
  margin: 25px 0 15px;
  height: 1px;
  background: #304a73;
}
