<div class="w-100 h-100">
    <ion-toolbar>
        <ion-title>AddictBreak</ion-title>
    </ion-toolbar>

    <div class="auth-card-wrapper">
        <ion-card>
            <ion-card-content [formGroup]="userForm">
                <ion-card-header>
                    <ion-card-title>{{isRegistration ? 'Sign Up' : 'Sign In'}}</ion-card-title>
                    <ion-card-subtitle>{{isRegistration ? 'Enter your personal data' : 'Enter your username and password'}}</ion-card-subtitle>
                </ion-card-header>

                <ion-item>
                    <ion-label position="floating">User Name (Login)</ion-label>
                    <ion-input formControlName="username"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="floating">Password</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                </ion-item>

                <ng-container *ngIf="isRegistration">
                    <ion-item>
                        <ion-label position="floating">First Name</ion-label>
                        <ion-input formControlName="name"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label position="floating">Age</ion-label>
                        <ion-input formControlName="age"></ion-input>
                    </ion-item>
                </ng-container>
            </ion-card-content>

            <div class="redirect-wrapper">
                {{isRegistration ? 'Already have an account?' : 'Do not have an account?' }}

                <span class="redirect cursor-pointer" (click)="changeMode()"> Click here</span>
            </div>

            <div class="w-100 d-flex align-center justify-center button-wrapper">
                <ion-button color="primary" (click)="login()" [disabled]="userForm.invalid">{{isRegistration ? 'Sign Up' : 'Sign In'}}</ion-button>
            </div>
        </ion-card>
    </div>
</div>
