.failures-wrapper{
    position: relative;

    .failure-icon {
        margin-right: 10px;
    }

    .failures-message {
        font-size: 18px;
        text-align: center;
    }
    
    .failures-list {
        height: 660px;
        overflow-y: scroll;
    }

    .failed-button-wrapper{
        position: fixed;
        bottom: 20px;
        right: 20px;        
        
        .failed-button {
            font-size: 18px;
            width: 330px;
        }
    }
}

.wrapper {
    flex: 1;
    max-height: calc(100% - 15vw - 40px);
    overflow: auto;
    margin: 5vw 5vw 3vw;
}

ion-card {
    width: 90vw;
    margin: 0;
}

ion-button {
    width: 45vw;
    margin: 0 5vw 5vw;


    &.big {
        width: 90vw;
    }
}

.failure {
    padding: 15px 0;
    border-bottom: 1px solid;
}

ion-icon {
    width: 25px;
    height: 30px;
    margin-right: 10px;
}
