<div class="wrapper">
    <ion-card>
        <ion-card-header>
            <ion-card-title>My failures</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-note *ngIf="!moduleData?.length">No failures, good job. Keep doing it 😊</ion-note>

            <div class="d-flex flex-column" *ngIf="moduleData?.length">
                <div *ngFor="let item of moduleData" class="failure d-flex align-center">
                    <ion-icon class="failure-icon" color="danger" *ngIf="item.type == 1" name="nuclear"></ion-icon>
                    <ion-icon class="failure-icon" color="warning" *ngIf="item.type == 0" name="warning"></ion-icon>
                    <ion-note>{{item.type ? 'Failure out of limit' : 'Ooops, small failure'}}
                        on {{item.date}}</ion-note>
                </div>
            </div>
        </ion-card-content>
    </ion-card>
</div>

<div class="d-flex">
    <ion-button color="danger" class="big" (click)="addFailures()">
        I have failed
    </ion-button>
</div>
