<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay" [disabled]="isAuthPage">
            <ion-content>
                <ion-list id="inbox-list">
                    <ion-list-header>AddictBreak</ion-list-header>

                    <ion-note>Hi {{(user$ | async)?.name}}, this is your road to recover</ion-note>

                    <ion-list *ngIf="addictionsService.addictions.length">
                        <ion-item>
                            <ion-label position="floating">Selected addiction</ion-label>
                            <ion-select okText="Submit" cancelText="Cancel" [(ngModel)]="selectedIndex"
                                        (change)="onAddChange()">
                                <ion-select-option *ngFor="let add of addictionsService.addictions; let i = index"
                                                   [value]="i">
                                    {{add.name}}
                                </ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>

                    <ng-container *ngIf="addictionsService.addictions.length">
                        <ng-container *ngFor="let p of appPages; let i = index">
                            <ion-menu-toggle auto-hide="false" *ngIf="p.isEnabled">
                                <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                                          routerLinkActive="selected">
                                    <ion-icon slot="start" [ios]="p.icon + '-outline'"
                                              [md]="p.icon + '-sharp'"></ion-icon>
                                    <ion-label>{{ p.title }}</ion-label>
                                </ion-item>
                            </ion-menu-toggle>
                        </ng-container>
                    </ng-container>

                    <ion-note *ngIf="!addictionsService.addictions.length" class="add-note">
                        Please add an addiction
                    </ion-note>
                </ion-list>

                <ion-list id="labels-list">
                    <ion-list-header>User actions</ion-list-header>

                    <ion-menu-toggle auto-hide="false">
                        <ion-item routerDirection="root" [routerLink]="['config']" lines="none" detail="false"
                                  routerLinkActive="selected">
                            <ion-icon slot="start" name="add-circle"></ion-icon>
                            <ion-label>Add addiction</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <ion-item lines="none" (click)="logOut()">
                        <ion-icon slot="start" ios="log-out-outline" md="log-out-sharp"></ion-icon>
                        <ion-label>Log out</ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>

        <ion-header *ngIf="!isAuthPage">
            <ion-item>
                <ion-icon name="reorder-three" (click)="toggleSidebar()"></ion-icon>
                <ion-label class="page-name">{{pageName}}</ion-label>
            </ion-item>
        </ion-header>


        <ion-router-outlet id="main-content" [ngClass]="{'ignore-margin': isAuthPage}"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
