.wrapper {
  overflow: auto;
  padding: 5vw;
  flex-direction: column;
}

.mr-10 {
  margin-right: 10px;
}

.saved-money {
  height: 160px;
  margin: 0 0 5vw;
}

.prognostications {
  margin: 0;
}

.car-part {
  margin-top: 20px;
}
